<h1>Sign up</h1>

<link rel="STYLESHEET" type="text/css" href="pwdwidget.css" />
<script src="pwdwidget.js" type="text/javascript"></script>


<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
     <%= render 'shared/error_messages', object: f.object %>
      	<%= f.label :name, "Nombre:" %>
		<%= f.text_field :name %>

		<%= f.label :career, "Carrera:" %>
		<%= f.select :career, options_for_select([[" Ingenieria de Sistemas", "Sistemas"], ["Ingenieria de Telecomunicaciones", "Telecom"]])%>

		<%= f.label :birthday, "Fecha de Nacimiento:"%>
		<%= f.date_select :birthday%>


		<%= f.label :email, "E-mail:" %>
		<%= f.text_field :email %>



		<label for='regpwd'>Password:</label>
		<div class='pwdwidgetdiv' id='thepwddiv'></div>
		<script  type="text/javascript" >
		var pwdwidget = new PasswordWidget('thepwddiv','regpwd');
		pwdwidget.MakePWDWidget();
		</script>
		<noscript>
		<div><input type='password' id='regpwd' name='regpwd' /></div>		
		</noscript>


		<%= f.label :password_confirmation, "Confirmar:" %>
		<%= f.password_field :password_confirmation %><br><br>


      <%= f.submit "Crear cuenta", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>